.bloques {
  
  height: 356px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  padding-top: 25px;

  div {
    width: 260px;
    height: 280px;
    display: flex;
    border: 1px solid black;
    justify-content: flex-start;
    flex-direction: column;

    img {
      width: 250px;
      height: 125px;
      object-fit: cover;
      position: relative;
      left: 5px;
      padding-top: 5px;
      
    }

    h2,
    p,
    h6 {
      font-family: sans-serif;
      text-align: left;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 3px;
    }
  }
}


.bloques-dos{
    height: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    padding-top: 25px;
   

    div {
        width: 520px;
        height: 320px;
        display: flex;
        border: 1px solid black;
        justify-content: flex-start;
        flex-direction: column;
    
        img {
          width: 480px;
          height: 250px;
          object-fit: cover;
          position: relative;
          left: 20px;
          padding-top: 15px;
          
        }
    
        h2, h6 {
          font-family: sans-serif;
          text-align: left;
          padding-top: 10px;
          padding-left: 18px;
          padding-right: 3px;
        }
      }
}